<div class="header">
    <div class="user-name">
        Olá {{userName}}!
    </div>
    <div class="header-btn add-transaction">
        <fa-icon [icon]="faPlus"></fa-icon>
        Adicionar transação
    </div>
    <div class="header-btn select-date">
        {{selectedDate}} <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>
    <div class="user-profile">
        <img src="../../../../assets/images/Foto Quadrada 2@2x.png" alt="foto usuario">
        <span>{{userFullName}}</span>
        <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>

</div>