@import "../../styles/variables.scss";

@import "../../styles/variables.scss";

#card-with-progress {
    background-color: $sec-3;
    border-radius: 41px;

    .card-body {
        .label {
            font-weight: bold;
            &-color-green {
                color: $brand-good;
            }
            &-color-red {
                color: $brand-danger;
            }
        }
    }

    .toggle-details {
        text-align: center;
        border-top: 1px solid $sec-4;
        font-size: 0.6em;
        font-weight: bold;
        width: 100%;
        margin-top: 8px;
        span {
            top: 10px;
            position: relative;
            color: $brand-1;
        }
    }
    .value-details {
        align-items: baseline;
    }
    .rounded-circle {
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 3%;
        justify-content: center;
        padding: 10px;
        img {
            width: 48px;
            height: 48px;
        }
    }
}

.bar-color {
    &-red {
        background-color: $brand-danger !important;
    }
    &-green {
        background-color: $brand-good !important;
    }
}
