@import "../../styles/variables.scss";

.side-nav {
    display: flex;
    font-family: "Open Sans";
    flex-direction: column;
    height: 100%;
    width: 16%;
    position: fixed;
    background-color: $sec-2;
    color: $sec-3;
    .app-name {
        box-shadow: 0px 3px 6px #00000029;
        height: 10%;
        padding: 8% 0;
        font-size: xx-large;
        font-weight: bold;
        .app-icon {
            margin: 9%;
            // img {
            //     padding: 0.2%;
            //     width: 80%;
            //     height: 50%;
            //     margin-top: 7%;
            // }
        }
    }
    li {
        list-style: none;
        margin: 10%;
        ul {
            cursor: pointer;
            padding: 9% 5%;
        }
        .selected-item {
            font-weight: bold;
        }
    }
}
