<div id="card-with-details" class="card">
    <div class="title">{{title}}</div>
    <div class="card-content">
        {{value | currency:'BRL' }}
        <div class="elipsis" [ngClass]="'elipsis-'+ elipsisColor">
            <img *ngIf="image === 'cartao'" src="../../../../assets/images/card.svg" alt="cartão">
            <img *ngIf="image === 'banco'" src="../../../../assets/images/bank.svg" alt="banco">
            <img *ngIf="image === 'setaCima'" src="../../../../assets/images/up-arrow.svg" alt="seta para cima">
            <img *ngIf="image === 'setaBaixo'" src="../../../../assets/images/down-arrow.svg" alt="seta para baixo">
        </div>
    </div>
    <div class="toggle-details">
        <span> ver mais</span>
    </div>
</div>