<div id="my-financial-data" class="container-fluid">
    <h1>Minhas finanças</h1>
    <div class="row justify-content-around mt-3">
        <div class="col col-lg-3">
            <app-card-with-details [title]="'Saldo contas bancárias'" [image]="'banco'" [value]="totalBalance"
                [elipsisColor]="'blue'">

            </app-card-with-details>
        </div>
        <div class="col col-lg-3">
            <app-card-with-details [title]="'Cartão de crédito'" [image]="'cartao'" [value]="creditCardValue"
                [elipsisColor]="'lilac'">

            </app-card-with-details>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col col-lg-3">
            <app-card-with-details [title]="'Receitas'" [image]="'setaCima'" [value]="receipt" [elipsisColor]="'green'">

            </app-card-with-details>
        </div>
        <div class="col col-lg-3">
            <app-card-with-details [title]="'Despesas'" [image]="'setaBaixo'" [value]="expenses" [elipsisColor]="'red'">

            </app-card-with-details>
        </div>
    </div>
</div>